.flag-container{
    width: 300px;
    height: 180px;
}
.first-item{
    background-color: red;
     height: 50px;
}
.second-item{
    background-color: blue;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.third-item{
    background-color: red;
    height: 50px;
}
.circle{
    width: 60px;
    height: 60px;
    background-color: aliceblue;
    border-radius: 50%;
}
